.homePageContainer {
  display: flex;
  flex-direction: column;
  z-index: 0;

  @media (max-width: 821px) {
    padding: 1.5rem;
  }

  button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: none;
    background: linear-gradient(
      to right,
      #0796d3 0%,
      #53c0f0 70%,
      #53c0f0 100%
    );
    color: white;
    padding: 1rem 10.1rem;

    margin-top: 1.5rem;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 500px) {
      padding: 1rem 0;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3.5rem;
  padding: 1.5rem 0 2.25rem 0;
  border-bottom: 1px solid #d7dde9;

  h1 {
    font-size: 1.5rem;
    font-weight: 00;
  }

  span {
    background: linear-gradient(to right, #000000 0%, #666666 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 400;
  }

  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1.5rem;
    h1 {
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  gap: 1.5rem;
  text-align: center;
  width: 28.125rem;
  padding: 2rem;
  border: 1px solid #eaecf0;
  margin-top: 1.75rem;
  margin-left: auto;
  margin-right: auto;

  p {
    color: #666666;
  }

  h2 {
    font-weight: 500;
  }

  @media (max-width: 487px) {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      font-size: 1rem;
    }
  }
}

.completedTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
