@mixin formattedButton($background, $color) {
  padding: 1rem 3.9375rem;
  border: none;
  border-radius: 8px;
  background: $background;
  color: $color;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  z-index: 999;
}

.newTaskContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 28.125rem;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  input {
    display: flex;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #d7dde9;
    &::placeholder {
      color: #a0a0a0;
    }
  }

  div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  div:last-child {
    display: flex;
    justify-content: space-between;

    button:first-of-type {
      @include formattedButton(#e7eefb, #000000);
    }
    button:last-child {
      @include formattedButton(
        linear-gradient(to right, #0796d3 0%, #53c0f0 70%, #53c0f0 100%),
        #ffffff
      );
    }
  }
}
